/* Imports & Globals */
   @import url('https://fonts.googleapis.com/css?family=Lato:400,700,900');


   html,
   body {
      font-family: 'Lato', sans-serif !important;
      text-shadow: none;
      -webkit-font-smoothing: antialiased;
      background: #fff;
      min-height: 75rem;
   }

/* End */


/* Master Container */
.inner {
  padding: 2rem;
}

/* End */

/* Missions text */

article {
  position: relative;
  margin: 100px auto;
  padding: 40px 0;

}

article::before,
article::after {
  background: #fff;
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

.missh {
  margin: 0 40px 1em;
  padding: 0;
  line-height: 1;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
}

.missp {
  margin: 0 40px 1em;
  padding: 0;
  line-height: 1.2;
}

.bout {
  background: #000;
  display: inline-block;
  color: #000;
}

.signed {
  color: #383636;
  font-weight: 700;
  margin: 0 80px 1em;
}

.sig {
  margin: 0 80px 1em;
  width: 150;
  height: 75;
}

/*About Page Styling*/

.around {
  display: inline-block;
    border: 2px solid white;
    border-radius: 75px;
    padding: 55px;
}

.aheader {
  margin-top: -25px;
  background-image: url("https://puu.sh/ybL1l.jpg");
  background-size: cover;
  background-position: center;
  height: 450px;
}


.adrop {
  margin-top: 80px;
}

.awords {
  margin-top: 10px;
  color: white;
}

.asecond {
  color: white;
  padding-top: 20px;
}

.aimg {
  border: 1px solid none;
  border-radius: 7px;
  -webkit-box-shadow: 2px 1px 5px 0px rgba(0,0,0,0.37);
  box-shadow: 2px 1px 5px 0px rgba(0,0,0,0.37);
}

.afirst {
  padding-bottom: 30px;
  color: white;
  text-align: justify;
}

#a-para {
  background-color: black;
  padding: 10px;
  color: white;
}

#features {
  background-color: #212529;
  display: block;
  padding: 40px;
  margin-top: -50px;
}

/* End */
